body {
	 background-image: url("../img/placeholder.jpeg");
	 background-size: cover;
	 background-repeat: no-repeat;
}
.container {
	background-color: white;
	padding: 10%;
	border: 2px solid #ededed;
	box-shadow: 10px 10px 50px #888888;
	border-radius: 25px;
	width: 100%;
}
form {
	width: 30%;
	margin: 10% 32%;
}
.container input {
	width: 98%;
	height: 40px;
	background-color: #dbd6d6;
	margin: 5% 0 0 0;
	padding-left: 2%;
	border: none;
	font-size: 100%;
	border-radius: 10px;
}
.container button {
	width: 100%;
	height: 50px;
	background-color: #2c2d2d;
	margin: 7% 0 0 0;
	border: none;
	color: white;
	font-size: 150%;
	border-radius: 10px;
}
.container button:hover {
	background-color: lime;
	-webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
	cursor: pointer;
}
.container h1 {
	font-size: 300%;
	text-align: center;
}
.container button i {
	margin-right: 5px;
}
@media screen and (max-width: 660px) {
	.container h1 {
		font-size: 180%;
	}
	.container input {
		text-align: center;
	}
}
#loading-button {
	display: none;
}
